body {
display: flex;
flex-direction: column;
font-family: Arial, Helvetica, sans-serif;

}


.header {

display: flex;
justify-content: space-around;
background-color: rgb(33, 41, 54);
padding: 8px 0px;
height: 40px;
align-items: center;
}

.intro {

    display: flex;
    background-color: rgb(33, 41, 54);
    padding: 8px 50px;
    justify-content: space-around;
    height: 220px;

}

.logo {

    color: white;
    font-weight: bold;
}

.topbar {

    display: flex;
    gap: 24px;
    font-size: 12px;
}




.intro img {

    width: 250px;
}

.intro-text {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: space-between;
    height: 166.66px;

}

.cooking-text {
    color: rgb(150, 159, 171);
    font-size: 14px;
    
}
.mid-pics img {

    width: 100px;

}

ul {

    list-style: none;

}


a {
    text-decoration: none;
    color: rgb(150, 159, 171) 

}

h1 {
    color: white;
    font-size: 24px;
    margin: 0px;
}

.sign-up-blue { 

    background-color: rgb(72, 131, 238);
    color: white;
    border-radius: 5px;
    padding: 4px 16px;
    border-style: none;
    font-size: 12px;
    font-weight: 300;
}

.middle {
    display: flex;
    flex-direction: column;
}

.create-elegant {

    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    font-size: 24px;

}


.pic-icons{

    display: flex;
    justify-content: center;
    padding-left: 0px;
    gap: 40px;
}