body {
display: flex;
flex-direction: column;
font-family: Arial, Helvetica, sans-serif;

}


.header {

display: flex;
justify-content: space-around;
background-color: rgb(33, 41, 54);
padding: 8px 0px;
height: 40px;
align-items: center;
}

.intro {

    display: flex;
    background-color: rgb(33, 41, 54);
    padding: 8px 50px;
    justify-content: space-around;
    height: 220px;

}

.logo {

    color: white;
    font-weight: bold;
}

.topbar {

    display: flex;
    gap: 24px;
    font-size: 12px;
}




.intro img {

    width: 250px;
}

.intro-text {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: space-between;
    height: 166.66px;

}

.cooking-text {
    color: rgb(150, 159, 171);
    font-size: 14px;
    
}
.mid-pics img {

    width: 100px;

}

ul {

    list-style: none;

}


a {
    text-decoration: none;
    color: rgb(150, 159, 171) 

}

h1 {
    color: white;
    font-size: 24px;
    margin: 0px;
}

.sign-up-blue { 

    background-color: rgb(72, 131, 238);
    color: white;
    border-radius: 5px;
    padding: 4px 16px;
    border-style: none;
    font-size: 12px;
    font-weight: 300;
}

.middle {
    display: flex;
    flex-direction: column;
}

.create-elegant {

    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    font-size: 24px;

}


.pic-icons{

    display: flex;
    justify-content: center;
    padding-left: 0px;
    gap: 40px;
    margin-bottom: 0px;
}

.text-mid {

    display: flex;
    justify-content: center;
    padding-left: 0px;
    gap: 40px;
    margin-top: 6px;
    text-align: center;
}

.text-mid li {

    width: 108px;
    padding-top: 0px;
    font-size: 12px;
    color: rgb(150, 159, 171);
    margin-top: 0px;

}

.pic-icons li {

    border: 4px solid rgb(72, 131, 238);
    border-radius: 8px;
    width: 100px;
    height: 100px;

}

img {

    border-radius: 4px;

}

.quote {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(229, 231, 225);
    padding: 75px 0px;

}



.quote-meat {

    display: flex;
    justify-content: center;
    width: 500px;
    font-style: italic;
    font-size: 20px;
}

.quotee {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    font-weight: 700;
    width: 500px;
    padding-top: 10px;
}

.sign-up-white {

    background-color: rgb(72, 131, 238);
    color: white;
    padding: 4px 16px;
    border-style: none;
    font-size: 12px;
    font-weight: 300;
    border: 2px solid white;
    border-radius: 8px;
}

.action {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.action-words {
    color: white;
}

.action-container {

    display: flex;
    background-color: rgb(72, 131, 238);
    width: 550px;
    height: 80px;
    border-radius: 10px;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;

}

.limited {

    font-weight: 600;

}

.do-it-now {
    font-size: 12px;

}

.footer {

    background-color: rgb(33, 41, 54);
    display: flex;
    justify-content: center;
    color: rgb(150, 159, 171);
    font-size: 12px;
    align-content: center;
    padding: 30px 0px;
}

.copyright {

    margin: 0px 0px;
    padding: 0px 0px;
    height: 10px;
}